body{
    background-size: 10%;
    background-image: url("/IMG/fondo\ copia.jpg");
    opacity: 0,5;
    
}

.bg-light text-center text-white {
    
    
}

/*------------------------------------------------------*/

